<table *ngIf='user' class = 'table table-sm'>
		<tr>
			<td>UserName</td>
			<td>{{user.UserName}}</td>
		</tr>

		<tr>
			<td>Password</td>
			<td>{{user.Password}}</td>
		</tr>

		<tr>
			<td>Name</td>
			<td>{{user.FirstName}} {{user.LastName}}</td>
		</tr>

		<tr>
			<td>PhoneNumber</td>
			<td>{{user.PhoneNumber}}</td>
		</tr>

		<tr>
			<td>Email</td>
			<td>{{user.Email}}</td>
		</tr>

		<tr>
			<td>Reviewer</td>
			<td>{{user.Reviewer}}</td>
		</tr>

		<tr>
			<td>Admin</td>
			<td>{{user.Admin}}</td>
		</tr>
</table>